<!DOCTYPE html>
<html lang="en" xmlns:html="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/images/favicon.png">

    <title>My Note</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/demo_table.css" />

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/style-responsive.css" rel="stylesheet" />
    <!--图标样式-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>

    <script src="/plugins/ckeditor/ckeditor.js"></script>

    <style>
        .selected{font-weight:bold; background-color:#c7cbd4;}
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <!--<script src="js/html5shiv.js"></script>-->
    <!--<script src="js/respond.min.js"></script>-->
    <![endif]-->
</head>

<body class="login-body" style="background-image: url('/images/back3.jpg');background-size: 100%">

<section id="container" >
    <!--header start-->
    <header class="header white-bg">

        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-reorder icon-reorder tooltips"></div>
        </div>

        <a href="/" class="logo"><span><%= title %></span></a>

        <div class="nav notify-row" id="top_menu">
            <!--  notification start -->
            <ul class="nav top-menu">
                <!-- settings start -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <span class="badge bg-success">6</span>
                    </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-green"></div>
                        <li>
                            <p class="green">You have 6 pending tasks</p>
                        </li>
                    </ul>
                </li>
                <!-- settings end -->
                <!-- inbox dropdown start-->
                <li id="header_inbox_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="badge bg-important">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 5 new messages</p>
                        </li>
                    </ul>
                </li>
                <!-- inbox dropdown end -->
                <!-- notification dropdown start-->
                <li id="header_notification_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span class="badge bg-warning">7</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-yellow"></div>
                        <li>
                            <p class="yellow">You have 7 new notifications</p>
                        </li>
                    </ul>
                </li>
                <!-- notification dropdown end -->
            </ul>
            <!--  notification end -->
        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <input type="text" class="form-control search" placeholder="Search">
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" src="/images/avatar-mini.jpg">
                        <span class="username"> <%= user.username %> </span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href="#"><i class=" fa fa-suitcase"></i>Profile</a></li>
                        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                        <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                        <li><a href="/"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>
    </header>

    <!--sidebar start-->
    <aside>

        <div id="sidebar"  class="nav-collapse ">

            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <li class="sub-menu">
                    <a href="#" >
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>我的笔记本</span>
                    </a>

                    <ul class="sub" id="notebook_ul" role="menu">
                        <%note.forEach(function(note2){%>
                        <li class="sub-menu"  role="presentation" id="context" data-toggle="context" data-target="#context-menu" onmousedown="right('<%=note2.notebookID%>','<%=note2.title%>')">
                            <a href="/index/showPageMenu/<%=note2.notebookID%>">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <span id="<%=note2.notebookID%>"><%=note2.title%></span>
                            </a>
                        </li>
                        <%})%>

                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>好友圈</span>
                        <span class="label label-danger pull-right mail-info">2</span>
                    </a>
                </li>

                <li>
                    <a href="/index/tagManage">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        <span>标签管理</span>
                        <span class="label label-danger pull-right mail-info">2</span>
                    </a>
                </li>

                <li>
                    <a href="/index/addNotebook">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span >我的信息</span>
                        <span class="label label-danger pull-right mail-info">2</span>
                    </a>
                </li>

                <li>
                    <a class="active" href="/index/userManage">
                        <i class="fa fa-qq" aria-hidden="true"></i>
                        <span >账户管理</span>
                        <span class="label label-danger pull-right mail-info">2</span>
                    </a>
                </li>

            </ul>

            <div id="context-menu">
                <ul class="dropdown-menu" role="menu">
                    <li data-toggle="modal" href="#deleteNotebookModal" onclick="setDataToDeleteNotebookDialog();$('#deleteNotebookModal').modal('show');"><a>删除</a></li>
                    <li class="hidden"><a id="delete_id">Another action</a></li>
                    <li class="hidden"><a id="delete_title">Another action</a></li>
                </ul>
            </div>
        </div>


    </aside>
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content" >
        <section class="wrapper">

            <div class="row">
                <div class="col-lg-12">
                    <!--timeline start-->
                    <section class="panel" >
                        <header class="panel-heading">
                            账户管理
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table  class="display table table-bordered table-striped" id="example">
                                    <thead>
                                    <tr>
                                        <th>用户编号</th>
                                        <th>用户名</th>
                                        <th>邮箱</th>
                                        <th>电话号码(s)</th>
                                        <th class="hidden-phone">权限</th>
                                        <th>修改</th>
                                        <th>删除</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <%users.forEach(function(user){%>
                                    <tr class="gradeA">
                                        <td><%=user.userID%></td>
                                        <td><%=user.username%></td>
                                        <td><%=user.email%></td>
                                        <td><%=user.phoneNumber%></td>
                                        <td><%=user.privilege%></td>
                                        <td><button class="btn btn-default" data-toggle="modal" href="#modifyUserModal" onclick="setDataToDialog('<%=user.userID%>','<%=user.username%>','<%=user.email%>','<%=user.phoneNumber%>','<%=user.privilege%>')"><i class="fa fa-edit">修改</i></button></td>
                                        <td><button class="btn btn-warning" data-toggle="modal" href="#deleteUserModal" onclick="setDataToDeleteDialog('<%=user.userID%>','<%=user.username%>')"><i class="fa fa-close" >删除</i></button></td>
                                    </tr>
                                    <%})%>
                                    </tbody>
                                    <!--<tfoot>-->
                                    <!--<tr>-->
                                        <!--<th>用户名</th>-->
                                        <!--<th>邮箱</th>-->
                                        <!--<th>电话号码(s)</th>-->
                                        <!--<th class="hidden-phone">权限</th>-->
                                        <!--<th>修改</th>-->
                                        <!--<th>删除</th>-->
                                    <!--</tr>-->
                                    <!--</tfoot>-->
                                </table>
                            </div>

                        </div>
                    </section>
                </div>
            </div>

            <div class="modal fade" id="modifyUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Modify User</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">userID</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="userID" name="userID" placeholder="" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">Username</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">Email</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="email" name="email" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">Telephone</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="telephone" name="telephone" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-lg-3 control-label">Privilege</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="privilege" name="privilege" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-default btn-lg btn-block" onclick="modifyUser()">Modify</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">是否确认删除<span id="delete_username"></span>用户？</div>
                        <p class="hidden" id="delete_userID"></p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="deleteUser()">删除</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <div class="modal fade" id="deleteNotebookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">是否确认删除笔记：<code id="delete_notebookTitle"></code>?</div>
                        <p class="hidden" id="delete_notebookID"></p>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="deleteNotebook()">删除</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

        </section>
    </section>
    <!--main content end-->


    <!--footer start-->

    <!--footer end-->
</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/javascripts/jquery.dcjqaccordion.2.7.js"></script>
<script src="/javascripts/owl.carousel.js" ></script>
<script src="/javascripts/jquery.scrollTo.min.js"></script>
<script src="/javascripts/jquery.nicescroll.js" type="text/javascript"></script>

<script src="/javascripts/jquery.customSelect.min.js" ></script>
<script type="text/javascript" src="/javascripts/jquery.dataTables.js"></script>
<script src="/javascripts/respond.min.js" ></script>
<script src="/plugins/bootstrap-contextmenu.js"></script>

<!--common script for all pages-->
<script src="/javascripts/common-scripts.js"></script>


<!--<script>-->
<!--$(document).ready(function () {-->
<!--alert("编译原理文档！");-->
<!--});-->
<!--</script>-->

<script>

    //owl carousel
    $(document).ready(function() {
        $("#owl-demo").owlCarousel({
            navigation : true,
            slideSpeed : 300,
            paginationSpeed : 400,
            singleItem : true,
            autoPlay:true

        });
    });

    //custom select box

    $(function(){
        $('select.styled').customSelect();
    });

</script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#example').dataTable( {
            "aaSorting": [[ 4, "desc" ]]
        } );
    } );
</script>

<script>
    function right(id,title) {
        var e=window.event;
        if(e.button=="2"){
            document.getElementById("delete_id").innerText = id;
            document.getElementById("delete_title").innerText = title;

        }
    }

    function setDataToDialog(userID,username,email,telephone,privilege){
        $('#userID').val(userID);
        $("#username").val(username);
        $("#email").val(email);
        $("#telephone").val(telephone);
        $("#privilege").val(privilege);
    }

    function setDataToDeleteDialog(userID,username){
        document.getElementById("delete_userID").innerText =userID;
        document.getElementById("delete_username").innerText =username;
    }

    function setDataToDeleteNotebookDialog(){
        document.getElementById("delete_notebookID").innerText = document.getElementById("delete_id").innerText;
        document.getElementById("delete_notebookTitle").innerText = document.getElementById("delete_title").innerText;
    }


    function modifyUser(){
        var userID = document.getElementById("userID").value;
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var phoneNumber = document.getElementById("telephone").value;
        var privilege = document.getElementById("privilege").value;

        $.ajax({
            data: {userID: userID, username: username, email: email, phoneNumber: phoneNumber, privilege: privilege},
            url: "/userManage/modifyUser",
            dataType: 'json',
//                        async: false,
            contentType: 'application/json;charset=UTF-8',
            cache: false,
            timeout: 0,
            type: 'get',    // 如果要使用GET方式，则将此处改为'get'
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            success: function () {
                alert("修改成功！");
                window.location.reload();
            },
            error: function () {
                alert("修改失败！");
            }
        });
    }

    function deleteUser() {
        var userID = document.getElementById("delete_userID").innerText;
        $.ajax({
            data: {userID: userID},
            url: "/userManage/deleteUser",
            dataType: 'json',
//                        async: false,
            contentType: 'application/json;charset=UTF-8',
            cache: false,
            timeout: 0,
            type: 'get',    // 如果要使用GET方式，则将此处改为'get'
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            success: function () {
                alert("删除成功！");
                window.location.reload();
            },
            error: function () {
                alert("删除失败！");
            }
        });


    }

    function deleteNotebook(){
        var notebookID = document.getElementById("delete_notebookID").innerText;

        $.ajax({
            data: {notebookID: notebookID},
            url: "/index/deleteNotebook",
            dataType: 'json',
//                        async: false,
            contentType: 'application/json;charset=UTF-8',
            cache: false,
            timeout: 0,
            type: 'get',    // 如果要使用GET方式，则将此处改为'get'
            headers: {
                'Access-Control-Allow-Origin': '*'
            },
            success: function (data) {
                alert("删除成功！");
                window.location.reload();
            },
            error: function () {
                alert("删除成功！");
                window.location.reload();
            }
        });
    }

    function getCookieValue(key) {
        var data = decodeURI(document.cookie).split(";");
        for(var i=0;i<data.length;i++) {
            if(data[i].trim().indexOf(key)==0) {
                return data[i].trim();
            }
        }
    }

</script>

</body>
</html>
